<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1> Welcome to the text analyzer:Enter your text here:</h1>
<form action="/analyze" , method="get">
   <textarea name="text" style="margin: 0px; width: 689px; height: 175px;"></textarea><br>
    <input type = "checkbox" name = 'removepunc'>remove punctuation</input><p></p>
    <input type = "checkbox" name = 'capfirst'>Capitallize Sentence</input><p></p>
    <input type = "checkbox" name = 'newlineremove'>Merge in single line</input><p></p>
    <input type = "checkbox" name = 'spaceremove'>Removing extra space</input><p></p>
    <input type = "checkbox" name = 'charcount'>Count the characters</input><p></p>
    <button type="submit">Analyze</button>
</form>
</body>
</html>